* {
    line-height: 1.2;
    font-family: "Times New Roman", Times, serif;
}

.container {
    padding: 10px;
    border: 2px solid black;
    background-color: #feefd6;
    text-align: center;
}

.header {
    font-size: 25px;
}

.mainimg {
    height: auto;
    width: 600px;
    border: 2px solid black;
}

.description {
    margin: auto;
    width: 600px;
    font-size: 20px;
}

.ingredients {
    margin: auto;
    width: 600px;
    font-size: 20px;
}

.ingredients-list {
    position: relative;
    right: 30px;
    list-style-position: inside;
    font-size: 25px;
}

.steps {
    position: relative;
    margin: auto;
    width: 700px;
    font-size: 20px;
}

.stepsimage {
    margin: auto;
    width: 800px;
    font-size: 20px;
    list-style-position: inside;
}

.direction {
    font-size: 30px;
}

.stepsimagelist {
    position: relative;
    right: 15px;
}

.stepsimagelist img {
    height: auto;
    width: 500px;
    border: 2px solid black;
}

.stepsimagefirstline {
    margin-bottom: 20px;
}

.returnhome {
    position: absolute;
    left: 100px;
    bottom: 765px;
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.returntop {
    position: relative;
    top: 5px;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    color: black;
}