
* {
    line-break: 1.2;
    font-family: "Times New Roman", Times, serif;
}

.container {
    background-color: #feefd6;
    border: 2px solid black;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.header {
    font-size: 25px;
}

.returnhome {
    position: absolute;
    left: 50px;
    bottom: 785px;
}

.returnhome .returnhomebutton{
    background-color: white;
    font-weight: 500;
    font-size: 35px;
}

.introduction-ingredients {
    margin: auto;
    width: 600px;
    font-size: 20px;
}

.introduction-ingredients img {
    height: auto;
    width: 600px;
    border: 2px solid black;
}

.ingredients-list {
    position: relative;
    right: 20px;
    list-style-position: inside;
    font-size: 25px;
}

.steps {
    margin: auto;
    width: 700px;
    font-size: 20px;
}

.steps .boiltheribs {
    position: relative;
    right: 5px;
}

.steps .bake {
    position: relative;
    right: 5px;
}

.stepsimage {
    margin: auto;
    width: 800px;
}

.stepsimage h1 {
    font-size: 45px;
}

.stepsimagelist {
    position: relative;
    right: 15px;
    font-size: 20px;
    list-style-position: inside;
}

.stepsimagelist img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 500px;
    border: 2px solid black;
}

.returntop {
    position: relative;
    right: 10px;
    top: 5px;
}

.returntop .returntopbutton {
    background-color: white;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
}