
* {
    line-height: 1.2;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #feefd6;
}

.container {
    padding: 10px;
    text-align: center;
}

.headertext {
    margin-bottom: 10px;
    font-size: 25px;
}

.returnhomebutton,
a {
    display: flex;
    margin-left: 20px;
    margin-bottom: -20px;
    padding-top: 10px;
    background-color: #feefd6;
    font-weight: bold;
    font-size: 35px;
    color: black;
    border: 0px;
}

.mainimg {
    margin: 10px;
    height: auto;
    width: 600px;
    border: 2px solid black;
}

.description {
    padding: 10px;
    margin: auto;
    width: 600px;
    font-size: 20px;
}

.ingredients {
    padding: 10px;
    margin: auto;
    list-style-position: inside;
    width: 600px;
    font-size: 20px;
}

.ingredients-list {
    font-size: 25px;
    padding: 1em;
    margin: auto;
}

.steps {
    margin: auto;
    padding: 10px;
    width: 700px;
    font-size: 20px;
}

.insteps,
.insteps2,
.insteps3,
.insteps4,
.insteps5 {
    padding: 1em;
}

.stepsimage {
    margin: auto;
    width: 800px;
    list-style-position: inside;
}

.stepsimage img {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    height: auto;
    width: 500px;
}

.stepsimagelist {
    font-size: 20px;
    padding: 2em;
}

.direction {
    font-size: 25px;
}

.returntopbutton {
    margin: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 0px;
    font-size: 30px;
}