

.header {
    position: relative;
    bottom: 50px;
    font-family: "Times New Roman", Georgia, serif;
    text-align: center;
    font-size: 50px;
    color: black;
}

.container {
    position: relative;
    padding: 10px;
    margin-bottom: -20px;
    width: auto;
    background-color: #feefd6;
    border: 2px solid black;
}

.recipes-images img {
    height: auto;
    width: 450px;
    border: 2px solid black;
}

.macimg {
    position:relative;
    bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burgerimg {
    position: relative;
    bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ribimg {
    position: relative;
    top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.recipes-link {
    list-style: none;
}

ul.recipes-link a {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 35px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.mac {
    position: relative;
    bottom: 790px;
    right: 20px;
    text-align: center;
}

.burger {
    position: relative;
    bottom: 430px;
    right: 22px;
    text-align: center;
}

.ribs {
    position: relative;
    bottom: 60px;
    right: 23px;
    text-align: center;
}

.returntop {
    position: relative;
    left: 870px;
    bottom: 40px;
}

.returntop .returntopbutton {
    background-color: white;
    font-weight: 500;
    font-size: 20px;
}