

.header {
    position: relative;
    bottom: 50px;
    font-family: "Times New Roman", Georgia, serif;
    text-align: center;
    font-size: 50px;
    color: black;
}

.foodimg img {
    height: auto;
    width: 450px;
    border: 2px solid black;
}

.macimg img {
    position:relative;
    bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burgerimg img {
    position: relative;
    bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ribimg img {
    position: relative;
    top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

div.recipes-list a {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 35px;
    color: black;
    font-weight: bold;
}

.mac {
    position: relative;
    bottom: 790px;
    right: 20px;
    text-align: center;
    
}

.burger {
    position: relative;
    bottom: 430px;
    right: 22px;
    text-align: center;
    
}

.ribs {
    position: relative;
    bottom: 60px;
    right: 20px;
    text-align: center;

    
}

.returntop a {
    position: fixed;
    left: 1680px;
    bottom: 0px;
    top: 810px;
    color: black;
    font-size: 25px;
}

.recipes-card {
    background-color: #feefd6;
    border: 2px solid black;
}
